<script type="application/javascript">
	function json(data)
	{
		decoded = JSON.parse(data);
		alert("Status: "+decoded['status']);
	}
</script>
<script type="application/javascript" src="http://localhost/api_v1/users/?callback=json"></script>